* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.logo img {
  width: 30px;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to right, #cb004e, #006599);
  display: flex;
  flex-direction: column;
}

header, main, footer {
  flex: 1;
}

header {
  padding: 40px 4%;
  margin-bottom: 0;
  padding-bottom: 0;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

header a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.4s;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

main .btn-contato button {
  background-color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

main .btn-contato button:hover {
  transform: scale(1.05);
  transition: 0.4s;
  color: #cb004e;
}

a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.4s;
}

.txt-topo-site p {
  color: white;
}

.txt-topo-site h1 {
  font-size: 72px;
  margin: 0 0 20px 0;
  color: white;
  line-height: 1;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content:flex-start;
  gap: 200px;
}

.topo-do-site.txt-topo-site p {
  margin: 20px 0;
}

.img-topo-site {
  width: 400px;
  height: auto;
  padding-right: 500px;
}

/*Especialidades*/
section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex{
  gap: 50px;
}

h2.sub-titulo {
  color: white;
  font-size: 38px;
  text-align: center;
}

.especialidades .especialidade-box{
  color: white;
  padding: 40px;
  border: 2px solid white;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.especialidades .especialidade-box:hover{
  transform: scale(1.05);
  transition: 0.4s;
}

.especialidades .especialidade-box i{
  font-size: 48px;
  margin-bottom: 20px;
}

.especialidades .especialidade-box h3{
  font-size: 24px;
  margin-bottom: 20px;
}


/* Sobre mim */

section.sobre {
  padding: 0 4%;
}

section.sobre .flex{
  align-items: center;
  gap: 50px;
}

.img-sobre img{
  border-radius: 2%;
  margin-bottom: 40px;
}

.sobre .txt-sobre{
  color: white;
}

.sobre .txt-sobre h2{
  font-size: 68px;
  margin: 0 0 40px 0;
  color: white;
  line-height: 1;
}

.sobre .txt-sobre p{
  text-align: justify;
}

.sobre .txt-sobre .btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 0;
  background: white;
  font-size: 25px;
  cursor: pointer;
  margin: 120px 10px 10px 0px;
}

.sobre .txt-sobre .btn-social button:hover{
  transform: scale(1.05);
  transition: 0.4s;
  color: #cb004e;
}

.sobre .txt-sobre .btn-social  a{
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.sobre .txt-sobre .btn-social a:hover{
  color: #cb004e;
  transform: scale(1.05);
  transition: 0.4s;
  font-weight: 600;
}

/* MEUS PROJETOS */

section.meus-projetos h2{
  margin-top: 20px;
  margin-bottom: 20px;
}

section.meus-projetos.flex{
  padding: 80px 4%;
  gap: 50px;
}

.img-port{
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-position: 100% 0%;
  position: relative;
  margin-bottom: 40px;
}

.img-port:hover{
  background-position: 100% 100%;
  transform: scale(1.05);
  transition: 4s;
  cursor: pointer;
}

section.meus-projetos .flex{
  justify-content: space-around;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  opacity: 0;
  transition: .5s;
}

.overlay:hover{
  opacity: 1;
}