* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    
}

.logo img {
    width: 30px;
    height: auto;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to right, #cb004e, #006599);
    display: flex;
    flex-direction: column;
}

header, main, footer {
    flex: 1;
}

header {
    padding: 40px 4%;
    margin-bottom: 0;
    padding-bottom: 0;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: white;
    transform: scale(1.05);
    transition: 4;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

main .btn-contato button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    color: white;
    transform: scale(1.05);
    transition: 4;
}

.txt-topo-site p {
    margin: 0;
    color: white;
}

.txt-topo-site h1 {
    font-size: 5em;
    margin: 0;
    color: white;
}

section.topo-do-site {
    padding: 40px 4%;
}

